<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="../static/style.css">
  <link rel="icon" href="" type="image/png" href="../static/img/asset-15.png">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <title>Portfólio</title>
</head>

<body>

  <i class="bi bi-list menu-mobile"></i>

  <aside id="header">
    <section class="profile">
      <img src="../static/img/perfil.jpg" alt="Foto de perfil">
      <h1>Lucas Siqueira</h1>
      <div class="social-links mt-4 text-center">
        <a target="_blank" href="#">
          <i class="bi bi-linkedin"></i>
        </a>
        <a target="_blank" href="#">
          <i class="bi bi-github"></i>
        </a>
        <a target="_blank" href="#">
          <i class="bi bi-whatsapp"></i>
        </a>

      </div>
    </section>

    <nav id="navbar" class="nav-menu">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#inicio"><i class="bi bi-house"></i>&nbsp Início</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#sobre"> <i class="bi bi-person"></i>&nbsp Sobre</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#habilidades"><i class="bi bi-card-checklist"></i>&nbsp habilidades</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#"><i class="bi bi-file-earmark"></i>&nbsp Currículo</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#"><i class="bi bi-collection"></i>&nbsp Portfólio</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#"><i class="bi bi-envelope"></i>&nbsp Contato</a>
        </li>

      </ul>
    </nav>
  </aside>

  <main id="main">
    <section id="inicio" class="row m-0 p-0">
      <div class="col-md-5 d-flex justify-content-center align-items-center flex-column">
        <h2 class="text-white text-shadow">Lucas Siqueira</h2>
        <span id="subtitle" class="text-white text-shadow">Analista de BI e Dev FullStack</span>
      </div>

      <div class="col-md-7 d-flex justify-content-end align-items-end">
        <div id="arraste" class="d-flex align-items-center">
          <i class="bi bi-arrow-down text-white pe-2 fs-2" ariai-hidden="true"></i>
          <a href="#sobre">Arraste para mais</a>
        </div>
      </div>
    </section>

    <section id="sobre" class="container mt-5">

      <div class="row w-100">
        <div class="col-md-12">
          <h2 class="pt-3">Sobre</h2>
          <p>
            Sou Lucas, profissional de TI com mais de 4 anos de experiência no mercado, atuando como suporte técnico, e
            posteriormente como desenvolvedor fullstack. Atualmente estou atuando na área de Business Intelligence (BI),
            motivado pela paixão por análise de dados e tomada de decisões estratégicas. Minha jornada em TI me
            proporcionou um bom conhecimento em arquitetura de sistemas, desenvolvimento de aplicações e resolução de
            problemas complexos, o que tem sido fundamental no meu desenvolvimento como profissional de BI.
            Estou sempre em busca de novas formas de transformar dados em insights valiosos, contribuindo para a
            eficiência e inovação nos projetos em que atuo. Minha combinação de habilidades técnicas e interesse pelo
            mundo dos dados e inteligência de négocios me capacita a agregar valor nas mais diversas frentes.
          </p>
        </div>
      </div>

      <div class="row mt-4">
        <div class=" col-md-4">
          <img src="../static/img/perfil.jpg" alt="Foto do Lucas" class="img-fluid shadow">
        </div>
        <div class="col-md-8">
          <h3 id="title">Analista de Business Intelligence</h3>
          <p>
            Atualmente atuo como analista de Business Intelligence na Sicoob Credivale, responsável por gerar insights e
            visualizações de dados
            para auxiliar os líderes nas tomadas de decisão. Meu trabalho é entender os dados, identificar oportunidades
            e riscos, e proporcionar insights que auxiliem na tomada de decisão.
          </p>

          <div class="row mt-3 mb-3">
            <div class="col-md-6">
              <ul class="list-group list-group-flush fs-5">
                <li class="list-group-item">Aniversário: <span class="fw-lighter">28 de Novembro de 2002</span></li>
                <li class="list-group-item">idade: <span class="fw-lighter">22 anos</span></li>
                <li class="list-group-item">Cidade: <span class="fw-lighter">Presidente Prudente</span></li>
                <li class="list-group-item">Estado: <span class="fw-lighter">São Paulo</span></li>
              </ul>
            </div>

            <div class="col-md-6">
              <ul class="list-group list-group-flush fs-5">
                <li class="list-group-item">Experiência: <span class="fw-lighter">+4 anos</span></li>
                <li class="list-group-item">Hobby: <span class="fw-lighter">Viajar </span></li>
                <li class="list-group-item">Hobby: <span class="fw-lighter">Viajar </span></li>
                <li class="list-group-item">Hobby: <span class="fw-lighter">Viajar </span></li>
              </ul>
            </div>
          </div>
          <p>
            Atualmente atuo como analista de Business Intelligence na Sicoob Credivale, responsável por gerar insights
            e
            visualizações de dados
            para auxiliar os líderes nas tomadas de decisão. Meu trabalho é entender os dados, identificar
            oportunidades
            e riscos, e proporcionar insights que auxiliem na tomada de decisão.
          </p>

        </div>

      </div>
    </section>

    <section id="habilidades" class="mt-5 section-bg">

      <div class="container pb-5">
        <h2 class="pt-3">Habilidades</h2>
        <p>Em todo tempo como profissional de tecnologia eu adquiri algumas habilidades técnicas e não técnicas, a
          maioria delas estão aqui, de acordo com a porcentagem de conhecimento que eu acredito ter em cada uma delas.
        </p>

        <div class="row">
          <div class="col-md-6">
            <ul class="list-group list-group-flush fs-5">
              <li class="list-group-item section-bg"><img width="30" height="30"
                  src="https://img.icons8.com/color/48/power-bi-2021.png" alt="power-bi-2021" /> Power BI </li>
              <li class="list-group-item section-bg"><img width="30" height="30"
                  src="https://img.icons8.com/color/48/ms-excel.png" alt="ms-excel" /> Excel <span
                  class="fw-lighter"></span></li>
              <li class="list-group-item section-bg"><img width="30" height="30"
                  src="https://img.icons8.com/fluency/48/financial-analytics.png" alt="financial-analytics" /> Modelagem
                de Dados <span class="fw-lighter"></span></li>
              <li class="list-group-item section-bg"><img width="30" height="30"
                  src="https://img.icons8.com/color/48/python--v1.png" alt="python--v1" /> Python <span
                  class="fw-lighter"></span></li>
              <li class="list-group-item section-bg"><img width="30" height="30"
                  src="https://img.icons8.com/fluency/48/javascript.png" alt="javascript" /> javascript <span
                  class="fw-lighter"></span></li>

            </ul>
          </div>

          <div class="col-md-6">
            <ul class="list-group list-group-flush fs-5">
              <li class="list-group-item section-bg section-bg"><img width="30" height="30"
                  src="https://img.icons8.com/color/48/database.png" alt="database" /> SQL</li>
              <li class="list-group-item section-bg section-bg"><img width="30" height="30"
                  src="https://img.icons8.com/color/48/git.png" alt="git" /> GIT <span class="fw-lighter"></span></li>
              <li class="list-group-item section-bg section-bg"><img width="30" height="30"
                  src="https://img.icons8.com/color/48/html-5--v1.png" alt="html-5--v1" /> HTML <span
                  class="fw-lighter"></span></li>
              <li class="list-group-item section-bg section-bg"><img width="30" height="30"
                  src="https://img.icons8.com/color/48/css3.png" alt="css3" /> CSS <span class="fw-lighter"></span></li>
            </ul>
          </div>
        </div>

        <hr class="w-50 me-auto ms-auto">

        <div class="row">
          <div class="col-md-6">
            <ul class="list-group list-group-flush fs-5">
              <li class="list-group-item section-bg"> Trabalho em equipe </li>
              <li class="list-group-item section-bg"> Proatividade </li>
              <li class="list-group-item section-bg"> Comunicatividade </li>
              <li class="list-group-item section-bg"> Trabalho em equipe </li>
            </ul>
          </div>

          <div class="col-md-6">
            <ul class="list-group list-group-flush fs-5">
              <li class="list-group-item section-bg"> Capacidade analítica </li>
              <li class="list-group-item section-bg">Comprometimento</li>


             
            </ul>
          </div>
        </div>

      </div>


  </main>

  <script src="../static/bootstrap/js/bootstrap.bundle.js"></script>
  <script src="../static/script.js"></script>
</body>

</html>